/*-------------main__care---------*/
.main__care-wrapper {
    background: #F8F8F8;
    border-radius: 20px;
    padding-bottom: 105px;
}

.main__wrapper-title {
    width: 478px;
    margin: 0 auto;
    padding: 200px 0 60px;
}


