
/*----------main------------*/
.main__blog {
    background: #F8F8F8 url('../images/blog__backsvg.svg') no-repeat top 122px right 0;
}

.main__blog-title {
    width: 980px;
    margin: 131px auto 50px;
}

.main__blog-conteiner {
    display: flex;
    justify-content: center;
    padding-bottom: 93px;
}

.main__inner-link a {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #0098ED;
}

.main__inner-link a:hover {
    color: #0098ED;
}


.main__inner-title {
    width: 610px;

    padding-bottom: 35px;

    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 41px;
    line-height: 58px;
    color: #002B3D;
}

.main__inner-title i {
    font-style: normal;
    font-weight: normal;
}

.main__inner-text {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    color: #002B3D;

}

/*------------artikles----------------*/

.artikles__menu {
    margin: 0 auto;
    padding: 63px 0;
    
    display: table;
}

.artikles__menu ul{
    display: flex;
}

.artikles__menu-link a{
    font-family: 'Open Sans', sans-serif;

    font-size: 17px;
    line-height: 26px;
    color: #002B3D;

    padding: 7px 20px;
    background: #F8F8F8;
    border-radius: 10px;

    transition: .4s;
}

.artikles__menu-link a:hover {
    background: #007DC2;
    color: #fff;
}

.--active a {
    background: #0098ED;
    color: #fff;
}



.artikles__wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
}

.artikles__wrapper-content {
    width: 378px;
}

.artikles__wrapper-inner {}

.artikles__inner-link {
    padding: 24px 0 5px;
}

.artikles__inner-link a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #0098ED;
}

.artikles__inner-title {
    font-family: 'Merriweather', serif;
    font-style: italic;
    font-weight: 900;
    font-size: 26px;
    line-height: 40px;
    color: #002B3D;

    padding-bottom: 39px;
}

.artikles__inner-title i {
    font-style: normal;
    font-weight: normal;
}

.artikles__inner-text {
    font-family: 'Open Sans',  sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 26px;
    color: #002B3D;

    padding-bottom: 13px;
    border-bottom: 1px solid #B8D1FD;

    margin-bottom: 49px;
}

/*-------------useful-------------*/

.useful__conteiner {
    padding-top: 215px;
    background: none;
    
}

.main__inner-text time {
    padding-right: 30px;
}

.useful__inner {
    border-bottom: 2px solid #B8D1FD;
}

.useful__wrapper,
.useful__inner {
    width: 1020px;
    margin: 0 auto;
}

.useful__content {
    width: 780px;

    padding-top: 39px;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 33px;
    color: #002B3D;
}

.useful__content-text {
    padding-bottom: 45px;
}

.useful__content-blockquote {
    background: #F8F8F8;
    border-radius: 20px;

    line-height: 32px;

    padding: 27px 35px 33px 40px;
}

.useful__content-title {
    font-family: 'Merriweather', serif;
    font-size: 41px;
    line-height: 58px;

    padding: 51px 0 11px;

}
.content-list {
    padding-bottom: 23px;
}
.useful__content-list .useful__content-text {
    padding:0 0 30px 29px;

    color: #002B3D;
}

.useful__content-list li {
        list-style: disc;
        color: #0098ED;
        margin-left: 25px;
}

.useful__content-list {
    padding-bottom: 7px;
}

.useful__box {
    display: flex;
    padding-bottom: 38px;    
}


.useful__box-link,
.useful__box-btn{
    display: flex;
    margin-right: 12px;

    background: #ECECEC;
    border-radius: 4px;
}

.useful__box a, 
.useful__box p{
    display: block;
    font-weight: 400;
    font-size: 13px;    
    padding: 2px 6px;

    color: #002B3D;
}

.useful__box-link .fab {
    font-size: 22px;
    position: relative;
    top: 5px;
}

.useful__box-link .fa-twitter {
    color: #03B6EC;
}

.useful__box-link .fa-facebook {
    color: #435396;
}

.useful__box-link .fa-vk {
    color: #526E8F;
}

.useful__box-link .fa-odnoklassniki {
    color: #F5913B;
}


.useful__box-link .fa-linkedin {
    color: #0277B5;    
}

.useful__box-link .fa-link {
    color: #0098ED;
}

.useful__box p {
    border-left: 1px solid #dacfcf;
}

.useful__box-btn button {
    border: none;
    cursor: pointer;
}

.useful__box-btn button:hover,
.useful__box-link a:hover,
.useful__box-link a:hover > .fab {
    color: #fff;
    background: #0098ED;
}

.useful__footer {
    display: flex;
    
}

.useful__footer {
    border-top: 2px solid #B8D1FD;
    border-bottom: 2px solid #B8D1FD;
}

.useful__footer p {
    padding:15px 22px 15px 0;
}

.useful__footer-inner p::after {
    content: url('../images/useful__footer.svg');
    padding-left: 20px;
}